
<center>
<div>
	
  <h1>bienvenido, ingresa tus datos </h1>
	<form action="/auth" method="post">

	<br><br>
		<label for="email">
			<!-- font awesome icon -->
			<i class="fas fa-user"></i>
		</label>
		<input type="email" name="email" placeholder="email" id="email" required>


		<br><br>
		<label for="password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="password" placeholder="Password" id="password" required>
		<br><br>
		<input type="submit" value="Login">
	</form>
</div>
</center>